cub3D
*.o
mlx/*.o
object/*.o
mlx/libmlx.dylib
mlx/mlx_image.swiftdoc
mlx/mlx_image.swiftmodule
mlx/mlx_init.swiftdoc
mlx/mlx_init.swiftmodule
mlx/mlx_window.swiftdoc
mlx/mlx_window.swiftmodule
miilibx-linux/*.o
*.swiftsourceinfo
.vscode/
*.bmp
cub3D.dSYM/
mlx/libmlx.dylib.dSYM/
mlx-linux/libmlx.a
mlx-linux/libmlx_Linux.a
mlx-linux/test/mlx-test
